{"RestHostReplacements":{"ProjectReplacements":[],"FileReplacements":[],"ApiProjectReferences":[],"ApiProjectCloudParams":[],"ApiProjectLocalParams":[],"ApiProjectManifestParams":[],"ApiProjectManifestImports":[],"ApiProjectManifestDeclarations":[]},"ServiceTypeReplacements":{"FileReplacements":[],"ActorProjectReferences":[],"ActorProjectCloudParams":[],"ActorProjectLocalParams":[],"ActorProjectManifestParams":[],"ActorProjectManifestImports":[],"ActorProjectManifestDeclarations":[],"ActorProjects":[]},"StatelessHostReplacements":{"ProjectReplacements":[],"FileReplacements":[],"StatelessProjectReferences":[],"StatelessProjectCloudParams":[],"StatelessProjectLocalParams":[],"StatelessProjectManifestParams":[],"StatelessProjectManifestImports":[],"StatelessProjectManifestDeclarations":[]},"DomainModelReplacements":{"FileReplacements":[],"DataAccessIoCRegistrations":[],"DataAccessIoCUsings":[],"EntityDbContextRegistrations":[]}}