{
  "openapi": "3.0.0",
  "info": {
    "title": "PassFort API",
    "version": "4.0.0",
    "contact": {
      "name": "PassFort Support",
      "email": "support@passfort.com"
    }
  },
  "servers": [
    {
      "url": "https://api.passfort.com/4.0",
      "description": "Production server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Header": {
        "type": "apiKey",
        "name": "apikey",
        "in": "header",
        "description": "This is the recommended method of authentication."
      },
      "QueryParameter": {
        "type": "apiKey",
        "name": "apikey",
        "in": "query",
        "description":
          "*This authentication method is deprecated and should be avoided for new integrations. Newer end-points may not support this authentication method at all.*"
      }
    },
    "schemas": {
      "Address": {
        "type": "object",
        "description": "A single address, which can be structured data or a free-form string.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/StructuredAddress"
          },
          {
            "$ref": "#/components/schemas/FreeformAddress"
          }
        ],
        "title": "Address",
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "STRUCTURED": "#/components/schemas/StructuredAddress",
            "FREEFORM": "#/components/schemas/FreeformAddress"
          }
        },
        "properties": {
          "type": {
            "description": "The type of a structured address is always `STRUCTURED`.",
            "type": "string",
            "enum": [
              "FREEFORM",
              "STRUCTURED"
            ]
          }
        }
      },
      "DatedAddressHistoryItem": {
        "title": "DatedAddressHistoryItem",
        "description": "An address with optional start/end dates.",
        "properties": {
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "start_date": {
            "$ref": "#/components/schemas/ApproxDate"
          },
          "end_date": {
            "$ref": "#/components/schemas/ApproxDate"
          }
        },
        "required": [
          "address"
        ]
      },
      "AddressHistory": {
        "title": "AddressHistory",
        "description": "A list of addresses in which the individual has lived. Each of these can have an approximate start and end date.  Addresses are ordered by `start_date`. If two addresses have the same `start_date`, `end_date` will order them. An address with no `start_date` and `end_date` will be assumed to be current. If multiple addresses have no `start_date` and `end_date` then their order will be random.",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/DatedAddressHistoryItem"
        }
      },
      "AliasOrId": {
        "description": "An object that requires at least one of these two properties : Id and Alias",
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "id": {
                "$ref": "#/components/schemas/UUID"
              }
            },
            "required": [
              "id"
            ]
          },
          {
            "type": "object",
            "properties": {
              "alias": {
                "type": "string"
              }
            },
            "required": [
              "alias"
            ]
          }
        ],
        "title": "AliasOrId"
      },
      "ApplicationStringField": {
        "type": "string",
        "description": "Application filter string fields",
        "enum": [
          "STATUS",
          "FLAG",
          "RISK_LEVEL"
        ],
        "title": "ApplicationStringField"
      },
      "ApprovalBlocker": {
        "type": "object",
        "title": "ApprovalBlocker",
        "description": "Blocker preventing the profile application being approved",
        "required": [
          "blocker_type"
        ],
        "properties": {
          "blocker_type": {
            "$ref": "#/components/schemas/ApprovalBlockerType"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/ApprovalBlockerUnresolvedEvent"
          },
          {
            "$ref": "#/components/schemas/ApprovalBlockerSuspendedProfile"
          },
          {
            "$ref": "#/components/schemas/ApprovalBlockerIncompleteTask"
          },
          {
            "$ref": "#/components/schemas/ApprovalBlockerUndeterminedRisk"
          },
          {
            "$ref": "#/components/schemas/ApprovalBlockerRiskScore"
          },
          {
            "$ref": "#/components/schemas/ApprovalBlockerUndeterminedOutcome"
          },
          {
            "$ref": "#/components/schemas/ApprovalBlockerRejectionOutcome"
          },
          {
            "$ref": "#/components/schemas/ApprovalBlockerWaitingOnEscalation"
          }
        ],
        "discriminator": {
          "propertyName": "blocker_type",
          "mapping": {
            "INCOMPLETE_TASK": "#/components/schemas/ApprovalBlockerIncompleteTask",
            "UNRESOLVED_EVENT": "#/components/schemas/ApprovalBlockerUnresolvedEvent",
            "SUSPENDED_PROFILE": "#/components/schemas/ApprovalBlockerSuspendedProfile",
            "UNDETERMINED_RISK": "#/components/schemas/ApprovalBlockerUndeterminedRisk",
            "RISK_SCORE": "#/components/schemas/ApprovalBlockerRiskScore",
            "UNDETERMINED_OUTCOME": "#/components/schemas/ApprovalBlockerUndeterminedOutcome",
            "REJECTION_OUTCOME": "#/components/schemas/ApprovalBlockerRejectionOutcome",
            "WAITING_ON_ESCALATION": "#/components/schemas/ApprovalBlockerWaitingOnEscalation"
          }
        }
      },
      "ApprovalBlockerIncompleteTask": {
        "x-ms-discriminator-value ": "INCOMPLETE_TASK",
        "allOf": [
          {
            "$ref": "#/components/schemas/ApprovalBlocker"
          },
          {
            "type": "object",
            "title": "ApprovalBlockerIncompleteTask",
            "description": "Incomplete Task preventing the profile application being approved",
            "properties": {
              "task_type": {
                "$ref": "#/components/schemas/TaskType"
              },
              "task_variant": {
                "$ref": "#/components/schemas/TaskVariant"
              }
            }
          }
        ]
      },
      "ApprovalBlockerRejectionOutcome": {
        "x-ms-discriminator-value ": "REJECTION_OUTCOME",
        "allOf": [
          {
            "$ref": "#/components/schemas/ApprovalBlocker"
          },
          {
            "type": "object",
            "description": "Smart policy determined that the profile should be rejected",
            "title": "ApprovalBlockerRejectionOutcome"
          }
        ]
      },
      "ApprovalBlockerRiskScore": {
        "x-ms-discriminator-value ": "RISK_SCORE",
        "allOf": [
          {
            "$ref": "#/components/schemas/ApprovalBlocker"
          },
          {
            "type": "object",
            "description": "Risk score is above the auto-reject threshold",
            "title": "ApprovalBlockerRiskScore"
          }
        ]
      },
      "ApprovalBlockerSuspendedProfile": {
        "x-ms-discriminator-value ": "SUSPENDED_PROFILE",
        "allOf": [
          {
            "$ref": "#/components/schemas/ApprovalBlocker"
          },
          {
            "type": "object",
            "description": "Suspended profile preventing the profile application being approved",
            "title": "ApprovalBlockerSuspendedProfile"
          }
        ]
      },
      "ApprovalBlockerType": {
        "type": "string",
        "description": "The nature of the blocker",
        "enum": [
          "INCOMPLETE_TASK",
          "UNRESOLVED_EVENT",
          "SUSPENDED_PROFILE",
          "UNDETERMINED_RISK",
          "RISK_SCORE",
          "UNDETERMINED_OUTCOME",
          "REJECTION_OUTCOME",
          "WAITING_ON_ESCALATION"
        ],
        "title": "ApprovalBlockerType"
      },
      "ApprovalBlockerUndeterminedOutcome": {
        "x-ms-discriminator-value ": "UNDETERMINED_OUTCOME",
        "allOf": [
          {
            "$ref": "#/components/schemas/ApprovalBlocker"
          },
          {
            "type": "object",
            "description": "Smart policy outcome has not been determined",
            "title": "ApprovalBlockerUndeterminedOutcome"
          }
        ]
      },
      "ApprovalBlockerUndeterminedRisk": {
        "x-ms-discriminator-value ": "UNDETERMINED_OUTCOME",
        "allOf": [
          {
            "$ref": "#/components/schemas/ApprovalBlocker"
          },
          {
            "type": "object",
            "description": "Risk score is undetermined, or stale and pending recalculation",
            "title": "ApprovalBlockerUndeterminedRisk"
          }
        ]
      },
      "ApprovalBlockerUnresolvedEvent": {
        "x-ms-discriminator-value ": "UNRESOLVED_EVENT",
        "allOf": [
          {
            "$ref": "#/components/schemas/ApprovalBlocker"
          },
          {
            "type": "object",
            "description": "Unresolved event preventing the profile application being approved",
            "properties": {
              "event_id": {
                "$ref": "#/components/schemas/UUID"
              }
            },
            "title": "ApprovalBlockerUnresolvedEvent"
          }
        ]
      },
      "ApprovalBlockerWaitingOnEscalation": {
        "x-ms-discriminator-value ": "WAITING_ON_ESCALATION",
        "allOf": [
          {
            "$ref": "#/components/schemas/ApprovalBlocker"
          },
          {
            "type": "object",
            "description": "Waiting on approvals which have been escalated to various teams",
            "title": "ApprovalBlockerWaitingOnEscalation"
          }
        ]
      },
      "ApproxDate": {
        "description": "A date with a year and a month. A day is not included.",
        "type": "string",
        "pattern": "^\\d{4}-\\d{2}$",
        "title": "ApproxDate",
        "example": "1999-03"
      },
      "Associate": {
        "description": "An associate to a PEP or Sanction",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the associate"
          },
          "association": {
            "type": "string",
            "description": "Their association"
          },
          "is_pep": {
            "type": "boolean",
            "description": "Associate of PEP"
          },
          "was_pep": {
            "type": "boolean",
            "description": "Was the associate of PEP"
          },
          "is_sanction": {
            "type": "boolean",
            "description": "Associate of Sanction"
          },
          "was_sanction": {
            "type": "boolean",
            "description": "Was the associate of Sanction"
          },
          "deceased_dates": {
            "type": "array",
            "description": "Reported death dates",
            "items": {
              "$ref": "#/components/schemas/PartialDate"
            }
          },
          "inactive_as_rca_related_to_pep_dates": {
            "type": "array",
            "description": "Dates of relation to PEP cessation",
            "items": {
              "$ref": "#/components/schemas/PartialDate"
            }
          },
          "inactive_as_pep_dates": {
            "type": "array",
            "description": "Dates of PEP inactivity",
            "items": {
              "$ref": "#/components/schemas/PartialDate"
            }
          },
          "dobs": {
            "type": "array",
            "description": "Dates of Birth",
            "items": {
              "$ref": "#/components/schemas/PartialDate"
            }
          }
        },
        "title": "Associate"
      },
      "AssociatedRole": {
        "description": "Role this associated entity has with the customer",
        "type": "string",
        "enum": [
          "AUTHORIZED_PERSON",
          "UNAUTHORIZED_PERSON",
          "DIRECTOR",
          "COMPANY_SECRETARY",
          "SHAREHOLDER",
          "PARTNER",
          "TRUSTEE",
          "BENEFICIAL_OWNER",
          "RESIGNED_OFFICER",
          "OTHER"
        ],
        "title": "AssociatedRole"
      },
      "BankAccount": {
        "description": "Details for a bank account",
        "type": "object",
        "properties": {
          "country": {
            "$ref": "#/components/schemas/CountryCode"
          },
          "type": {
            "$ref": "#/components/schemas/BankAccountType"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/UKBankAccount"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "UK_ACCOUNT": "#/components/schemas/UKBankAccount"
          }
        },
        "required": [
          "type",
          "country"
        ],
        "title": "BankAccount"
      },
      "BankAccountComment": {
        "description": "Comment emitted during bank account verification",
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/BankAccountCommentType"
          },
          "message": {
            "type": "string",
            "description": "A comment about the bank account"
          },
          "component": {
            "$ref": "#/components/schemas/BankAccountComponent"
          }
        },
        "required": [
          "message"
        ],
        "title": "BankAccountComment"
      },
      "BankAccountCommentType": {
        "type": "string",
        "description": "Bank account comment type",
        "enum": [
          "COMMENT",
          "MATCH",
          "MISMATCH",
          "WARNING"
        ],
        "title": "BankAccountCommentType"
      },
      "BankAccountComponent": {
        "type": "string",
        "description": "Bank account number component",
        "enum": [
          "UK_SORT_CODE",
          "UK_ACCOUNT_NUMBER"
        ],
        "title": "BankAccountComponent"
      },
      "BankAccountType": {
        "type": "string",
        "description": "Bank account type",
        "enum": [
          "UK_ACCOUNT"
        ],
        "title": "BankAccountType"
      },
      "BankAccountVerification": {
        "description": "Bank account verification",
        "type": "object",
        "properties": {
          "performed_on": {
            "$ref": "#/components/schemas/DateTime"
          },
          "match": {
            "type": "boolean",
            "description": "If the bank was verified and is a match"
          },
          "bank_account": {
            "$ref": "#/components/schemas/BankAccount"
          },
          "comments": {
            "description": "Comments",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BankAccountComment"
            }
          }
        },
        "required": [
          "bank_account",
          "match",
          "performed_on",
          "comments"
        ],
        "title": "BankAccountVerification"
      },
      "Base64": {
        "description": "Binary data encoded in base64",
        "type": "string",
        "pattern": "^(([a-zA-Z0-9+/]{4})*([a-zA-Z0-9+/]{3}=|[a-zA-Z0-9+/]{2}==)?|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$",
        "title": "Base64"
      },
      "CapabilityType": {
        "description": "The set of capabilities which can be granted in the permissions system",
        "enum": [
          "ROOT",
          "EDIT_PROFILE",
          "READ_PROFILE",
          "CREATE_PROFILE",
          "DELETE_PROFILE",
          "VIEW_ROLES",
          "CREATE_ROLE",
          "EDIT_ROLE",
          "DELETE_ROLE",
          "EDIT_PROFILE_COLLECTED_DATA",
          "READ_PROFILE_COLLECTED_DATA",
          "READ_PROFILE_COLLECTION_STEPS",
          "EDIT_PROFILE_COLLECTION_STEPS",
          "EDIT_DOCUMENT_IMAGE",
          "READ_DOCUMENT_IMAGE",
          "UPLOAD_DOCUMENT_IMAGE",
          "PURCHASE_FILING_DOCUMENT",
          "CREATE_TASK_NOTE",
          "DELETE_TASK_NOTE",
          "CUSTOM_AUTHOR_NOTE",
          "ASSIGN_PRODUCT_APPLICATION",
          "CREATE_PRODUCT_APPLICATION",
          "EDIT_PRODUCT_APPLICATION_STATUS",
          "CREATE_PROFILE_TASK",
          "EDIT_CONVERSATION",
          "RUN_CHECK",
          "CREATE_PROFILE_TAG",
          "DELETE_PROFILE_TAG",
          "EDIT_TASK_COMPLETION_STATUS",
          "MANAGE_PEP_AND_SANCTIONS_MATCHES",
          "SEARCH",
          "PROVIDER_DATA_SEARCH",
          "CREATE_USER",
          "VIEW_USERS",
          "VIEW_MINIMAL_USERS",
          "VIEW_USER",
          "VIEW_MINIMAL_USER",
          "EDIT_USER",
          "EDIT_USER_ROLE",
          "EDIT_USER_PASSWORD",
          "EDIT_USER_FILTER_SETS",
          "DEACTIVATE_USER",
          "REACTIVATE_USER",
          "DELETE_USER",
          "VIEW_TEAMS",
          "EDIT_TEAM",
          "VIEW_APPLICATION",
          "EDIT_PAYMENT",
          "VIEW_CONFIG",
          "EDIT_CONFIG",
          "DELETE_CONFIG",
          "VIEW_CONFIG_CREDENTIALS",
          "VIEW_REPORT",
          "CREATE_REPORT",
          "DELETE_REPORT",
          "EDIT_REPORT",
          "DATA_EXPORT",
          "VIEW_API_KEYS",
          "CREATE_API_KEY",
          "DEACTIVATE_API_KEY",
          "VIEW_FORM_TEMPLATE",
          "EDIT_FORM_TEMPLATE",
          "CREATE_CUSTOMER_REQUEST",
          "ARCHIVE_FORM_TEMPLATE",
          "EDIT_FORM_INSTANCE_ANSWERS",
          "READ_FORM_INSTANCE",
          "SEND_FORM_INSTANCE",
          "EXPIRE_FORM_INSTANCE",
          "INSTANTIATE_FORMS",
          "CREATE_MASTER_API_KEY",
          "ISSUE_MASTER_API_KEY",
          "ISSUE_COLLECT_API_KEY",
          "VIEW_CUSTOM_FIELDS_SCHEMA",
          "CREATE_CUSTOM_FIELDS_SCHEMA",
          "EDIT_CUSTOM_FIELDS_SCHEMA",
          "PERMANENTLY_DELETE_CUSTOM_FIELDS_SCHEMA",
          "EDIT_WEBHOOK_CONFIG",
          "VIEW_WEBHOOK_CONFIG",
          "MANUALLY_ACCEPT_FORM_INSTANCE",
          "VIEW_PROFILE_ACCESS_GRANTS",
          "GRANT_PROFILE_ACCESS",
          "REVOKE_PROFILE_ACCESS",
          "VIEW_IP_WHITELIST",
          "EDIT_IP_WHITELIST",
          "SETUP_SDK"
        ],
        "title": "CapabilityType"
      },
      "CategoryGroup": {
        "type": "object",
        "description": "Group of categories to be combined for risk calculations with operation to combine them",
        "properties": {
          "category_ids": {
            "type": "array",
            "description": "Category IDs",
            "items": {
              "$ref": "#/components/schemas/UUID"
            }
          },
          "name": {
            "type": "string",
            "description": "The name of this risk category group"
          },
          "operator": {
            "type": "string",
            "description": "Method for combining these risk category scores",
            "enum": [
              "MAX",
              "MIN",
              "MEAN",
              "SUM"
            ]
          }
        },
        "required": [
          "category_ids",
          "operator",
          "name"
        ],
        "x-derives": [
          "PartialEq"
        ],
        "title": "CategoryGroup"
      },
      "CategoryGroupOutput": {
        "type": "object",
        "description": "Score and config for a group of risk categories",
        "properties": {
          "group_config": {
            "$ref": "#/components/schemas/CategoryGroup"
          },
          "combined_score": {
            "type": "number",
            "description": "The score once the operator above has been applied"
          }
        },
        "title": "CategoryGroupOutput"
      },
      "CheckResult": {
        "type": "string",
        "enum": [
          "Pass",
          "Refer",
          "PEP",
          "Sanction",
          "Media",
          "Error",
          "Partial",
          "Fail",
          "2+2",
          "1+1"
        ],
        "x-ms-enum": {
          "name": "CheckResult",
          "modelAsString": true
        },
        "description": "The meaning of the result will depend on your provider and settings."
      },
      "CheckResource": {
        "title": "CheckResource",
        "description": "A single check run against a profile",
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/CheckResourceIdentityCheck"
          },
          {
            "$ref": "#/components/schemas/CheckResourceDocumentVerification"
          },
          {
            "$ref": "#/components/schemas/CheckResourceDocumentFetch"
          },
          {
            "$ref": "#/components/schemas/CheckResourcePepsAndSanctionsScreen"
          },
          {
            "$ref": "#/components/schemas/CheckResourceVisaCheck"
          },
          {
            "$ref": "#/components/schemas/CheckResourceCRABankAccountVerification"
          },
          {
            "$ref": "#/components/schemas/CheckResourceIndividualManualForm"
          },
          {
            "$ref": "#/components/schemas/CheckResourceDeviceFraudDetection"
          }
        ],
        "discriminator": {
          "propertyName": "check_type",
          "mapping": {
            "IDENTITY_CHECK": "#/components/schemas/CheckResourceIdentityCheck",
            "DOCUMENT_VERIFICATION": "#/components/schemas/CheckResourceDocumentVerification",
            "DOCUMENT_FETCH": "#/components/schemas/CheckResourceDocumentFetch",
            "PEPS_AND_SANCTIONS_SCREEN": "#/components/schemas/CheckResourcePepsAndSanctionsScreen",
            "VISA_CHECK": "#/components/schemas/CheckResourceVisaCheck",
            "CRA_BANK_ACCOUNT_VERIFICATION": "#/components/schemas/CheckResourceCRABankAccountVerification",
            "INDIVIDUAL_MANUAL_FORM": "#/components/schemas/CheckResourceIndividualManualForm",
            "DEVICE_FRAUD_DETECTION": "#/components/schemas/CheckResourceDeviceFraudDetection"
          }
        },
        "required": [
          "check_type"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/UUID"
          },
          "check_type": {
            "description": "The type of check being run",
            "type": "string",
            "enum": [
              "CRA_BANK_ACCOUNT_VERIFICATION"
            ]
          },
          "variant": {
            "$ref": "#/components/schemas/CheckVariant"
          },
          "state": {
            "$ref": "#/components/schemas/CheckState"
          },
          "performed_on": {
            "$ref": "#/components/schemas/DateTime"
          },
          "errors": {
            "type": "array",
            "description": "An array of errors that occurred when the check was performed. Hopefully empty!",
            "items": {
              "$ref": "#/components/schemas/Error"
            }
          },
          "task_ids": {
            "type": "array",
            "description": "The tasks related to this check",
            "items": {
              "$ref": "#/components/schemas/UUID"
            }
          },
          "instructed_externally": {
            "type": "boolean",
            "description": "Whether the check ran externally and contains the formatted result"
          },
          "decision": {
            "$ref": "#/components/schemas/DecisionClass"
          },
          "providers": {
            "type": "array",
            "description": "An array of records on the providers that were used to run this check",
            "items": {
              "type": "object",
              "properties": {
                "provider_name": {
                  "type": "string",
                  "description": "The name of a provider used to run this check"
                },
                "variant_name": {
                  "type": "string",
                  "description": "The name of the variant used to run this check"
                },
                "is_monitored": {
                  "type": "boolean",
                  "description": "If present, this flag specifies if the result from this provider is monitored."
                }
              }
            }
          }
        }
      },
      "CheckResourceCRABankAccountVerification": {
        "x-ms-discriminator-value ": "CRA_BANK_ACCOUNT_VERIFICATION",
        "allOf": [
          {
            "$ref": "#/components/schemas/CheckResource"
          },
          {
            "title": "CheckResourceCRABankAccountVerification",
            "description": "For details refer to [Check Reference](/reference/checks/individuals/bank-account-verification)",
            "type": "object",
            "properties": {
              "input_data": {
                "$ref": "#/components/schemas/IndividualData"
              },
              "output_data": {
                "type": "object",
                "description": "The resultant output of the check.\n\n**Note**: This was correct at the time the check was performed. Some check types will go out of date over time",
                "properties": {
                  "entity_type": {
                    "description": "Entity type the check was run on",
                    "type": "string",
                    "enum": [
                      "INDIVIDUAL"
                    ]
                  },
                  "bank_account_verifications": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BankAccountVerification"
                    }
                  },
                  "bank_account_validations": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BankAccountVerification"
                    }
                  },
                  "address_history": {
                    "$ref": "#/components/schemas/AddressHistory"
                  }
                }
              },
              "decision": {
                "$ref": "#/components/schemas/DecisionClass"
              },
              "result": {
                "$ref": "#/components/schemas/CheckResult"
              }
            }
          }
        ]
      },
      "CheckResourceDeviceFraudDetection": {
        "x-ms-discriminator-value": "DEVICE_FRAUD_DETECTION",
        "allOf": [
          {
            "$ref": "#/components/schemas/CheckResource"
          },
          {
            "type": "object",
            "title": "CheckResourceDeviceFraudDetection",
            "description": "For details refer to [Check Reference](/developer/v4/check-reference/individual-checks/device-fraud-detection)",
            "properties": {
              "device_metadata": {
                "$ref": "#/components/schemas/DeviceMetadata"
              },
              "input_data": {
                "$ref": "#/components/schemas/IndividualData"
              },
              "output_data": {
                "type": "object",
                "description": "The resultant output of the check.\n\n**Note**: This was correct at the time the check was performed. Some check types will go out of date over time",
                "properties": {
                  "device_metadata": {
                    "$ref": "#/components/schemas/DeviceMetadata"
                  },
                  "device_fraud_detection": {
                    "$ref": "#/components/schemas/DeviceFraudDetection"
                  },
                  "ip_location": {
                    "$ref": "#/components/schemas/IPLocation"
                  }
                }
              },
              "result": {
                "$ref": "#/components/schemas/CheckResult"
              }
            },
            "required": [
              "check_type",
              "device_metadata"
            ]
          }
        ]
      },
      "CheckResourceDocumentFetch": {
        "x-ms-discriminator-value": "DOCUMENT_FETCH",
        "allOf": [
          {
            "$ref": "#/components/schemas/CheckResource"
          },
          {
            "type": "object",
            "title": "CheckResourceDocumentFetch",
            "description": "For details refer to [Check Reference](/reference/checks/individuals/document-fetch)",
            "properties": {
              "source": {
                "description": "The source the document result is being fetched from",
                "enum": [
                  "JUMIO",
                  "ONFIDO",
                  "GENERIC"
                ]
              },
              "reference": {
                "description": "The source's document reference, refer to specific provider documentation",
                "type": "string"
              },
              "category": {
                "$ref": "#/components/schemas/DocumentCategory"
              },
              "input_data": {
                "$ref": "#/components/schemas/IndividualData"
              },
              "output_data": {
                "type": "object",
                "description": "The resultant output of the check.\n\n**Note**: This was correct at the time the check was performed. Some check types will go out of date over time",
                "properties": {
                  "documents": {
                    "type": "array",
                    "description": "The documents checked and their results",
                    "items": {
                      "$ref": "#/components/schemas/Document"
                    }
                  },
                  "entity_type": {
                    "description": "Entity type the check was run on",
                    "type": "string",
                    "enum": [
                      "INDIVIDUAL"
                    ]
                  }
                }
              },
              "result": {
                "$ref": "#/components/schemas/CheckResult"
              }
            },
            "required": [
              "source",
              "reference"
            ]
          }
        ]
      },
      "CheckResourceDocumentVerification": {
        "x-ms-discriminator-value": "DOCUMENT_VERIFICATION",
        "allOf": [
          {
            "$ref": "#/components/schemas/CheckResource"
          },
          {
            "type": "object",
            "title": "CheckResourceDocumentVerification",
            "description": "For details refer to [Check Reference](/reference/checks/individuals/document-verification)",
            "properties": {
              "document_id": {
                "$ref": "#/components/schemas/UUID"
              },
              "input_data": {
                "$ref": "#/components/schemas/IndividualData"
              },
              "output_data": {
                "type": "object",
                "description": "The resultant output of the check.\n\n**Note**: This was correct at the time the check was performed. Some check types will go out of date over time",
                "properties": {
                  "documents": {
                    "type": "array",
                    "description": "The documents checked and their results",
                    "items": {
                      "$ref": "#/components/schemas/Document"
                    }
                  },
                  "entity_type": {
                    "description": "Entity type the check was run on",
                    "type": "string",
                    "enum": [
                      "INDIVIDUAL"
                    ]
                  }
                }
              },
              "result": {
                "$ref": "#/components/schemas/CheckResult"
              }
            },
            "required": [
              "document_id"
            ]
          }
        ]
      },
      "CheckResourceIdentityCheck": {
        "x-ms-discriminator-value": "IDENTITY_CHECK",
        "allOf": [
          {
            "$ref": "#/components/schemas/CheckResource"
          },
          {
            "type": "object",
            "title": "CheckResourceIdentityCheck",
            "description": "For details refer to [Check Reference](/reference/checks/individuals/individual-check)",
            "properties": {
              "input_data": {
                "$ref": "#/components/schemas/IndividualData"
              },
              "output_data": {
                "type": "object",
                "description": "The resultant output of the check.\n\n**Note**: This was correct at the time the check was performed. Some check types will go out of date over time",
                "properties": {
                  "credit_ref": {
                    "$ref": "#/components/schemas/CreditReference"
                  },
                  "db_matches": {
                    "$ref": "#/components/schemas/DatabaseMatches"
                  },
                  "electronic_id_check": {
                    "type": "object",
                    "description": "The resulting matches of an EKYC check",
                    "properties": {
                      "matches": {
                        "type": "array",
                        "description": "List of matches for the EKYC check",
                        "items": {
                          "$ref": "#/components/schemas/EKYCMatch"
                        }
                      },
                      "rules": {
                        "type": "array",
                        "description": "List of rules that were used to compute the result",
                        "items": {
                          "$ref": "#/components/schemas/EKYCRuleResult"
                        }
                      },
                      "credit_files": {
                        "type": "array",
                        "description": "List of credit files that were matched for this profile or a no hit record",
                        "items": {
                          "$ref": "#/components/schemas/EKYCCreditFileMatch"
                        }
                      },
                      "provider_reference_number": {
                        "type": "string",
                        "description": "The provider reference for this EKYC request"
                      },
                      "provider_url": {
                        "type": "string",
                        "description": "A link to an external provider page, containing metadata for the associated check"
                      },
                      "provider_result": {
                        "type": "boolean",
                        "description": "Indicates if the check result is calculated using the result returned by the provider"
                      }
                    },
                    "required": [
                      "matches"
                    ]
                  },
                  "entity_type": {
                    "description": "Entity type the check was run on",
                    "type": "string",
                    "enum": [
                      "INDIVIDUAL"
                    ]
                  }
                }
              },
              "result": {
                "$ref": "#/components/schemas/CheckResult"
              }
            }
          }
        ]
      },
      "CheckResourceIndividualManualForm": {
        "x-ms-discriminator-value": "INDIVIDUAL_MANUAL_FORM",
        "allOf": [
          {
            "$ref": "#/components/schemas/CheckResource"
          },
          {
            "type": "object",
            "title": "CheckResourceIndividualManualForm",
            "description": "Please speak to your account manager for more information.",
            "properties": {
              "form_id": {
                "type": "string",
                "description": "The ID of the form being filled"
              },
              "input_data": {
                "$ref": "#/components/schemas/IndividualData"
              },
              "output_data": {
                "$ref": "#/components/schemas/IndividualData"
              },
              "result": {
                "$ref": "#/components/schemas/CheckResult"
              }
            }
          }
        ]
      },
      "CheckResourcePepsAndSanctionsScreen": {
        "x-ms-discriminator-value": "PEPS_AND_SANCTIONS_SCREEN",
        "allOf": [
          {
            "$ref": "#/components/schemas/CheckResource"
          },
          {
            "type": "object",
            "title": "CheckResourcePepsAndSanctionsScreen",
            "description": "For details refer to [Check Reference](/reference/checks/individuals/peps-and-sanctions)",
            "properties": {
              "disable_initial_screen": {
                "type": "boolean",
                "description": "Defaults to `false`.  If `true` do not perform an initial screen and only monitor"
              },
              "disable_monitoring": {
                "type": "boolean",
                "description": "Defaults to `false`. If `true` ongoing monitoring will be disabled"
              },
              "input_data": {
                "$ref": "#/components/schemas/IndividualData"
              },
              "output_data": {
                "type": "object",
                "description": "The resultant output of the check.\n\n**Note**: This was correct at the time the check was performed. Some check types will go out of date over time",
                "properties": {
                  "sanctions_results": {
                    "type": "array",
                    "description": "The returned PEPs and Sanctions",
                    "items": {
                      "$ref": "#/components/schemas/SanctionsResult"
                    }
                  },
                  "entity_type": {
                    "description": "Entity type the check was run on",
                    "type": "string",
                    "enum": [
                      "INDIVIDUAL"
                    ]
                  }
                }
              },
              "result": {
                "$ref": "#/components/schemas/CheckResult"
              }
            }
          }
        ]
      },
      "CheckResourceVisaCheck": {
        "x-ms-discriminator-value": "VISA_CHECK",
        "allOf": [
          {
            "$ref": "#/components/schemas/CheckResource"
          },
          {
            "type": "object",
            "title": "CheckResourceVisaCheck",
            "description": "For details refer to [Check Reference](/developer/v4/check-reference/individual-checks/visa-check)",
            "properties": {
              "document_metadata": {
                "$ref": "#/components/schemas/DocumentMetadata"
              },
              "input_data": {
                "$ref": "#/components/schemas/IndividualData"
              },
              "output_data": {
                "type": "object",
                "description": "The resultant output of the check.\n\n**Note**: This was correct at the time the check was performed. Some check types will go out of date over time",
                "properties": {
                  "visa_check": {
                    "type": "object",
                    "description": "The returned Visa Check",
                    "properties": {
                      "visas": {
                        "type": "array",
                        "description": "The visa(s) returned by the check, if any",
                        "items": {
                          "$ref": "#/components/schemas/Visa"
                        }
                      },
                      "failure_reason": {
                        "type": "string",
                        "description": "Reason why the check failed, if any"
                      }
                    }
                  }
                }
              },
              "result": {
                "$ref": "#/components/schemas/CheckResult"
              }
            },
            "required": [
              "check_type",
              "document_metadata"
            ]
          }
        ]
      },
      "CheckState": {
        "description": "The progress of the execution of a check",
        "type": "string",
        "enum": [
          "PENDING",
          "RUNNING",
          "COMPLETE"
        ],
        "x-ms-enum": {
          "name": "CheckState",
          "modelAsString": true
        },
        "title": "CheckState"
      },
      "CheckType": {
        "description": "The type of a check run against a profile",
        "type": "string",
        "enum": [
          "IDENTITY_CHECK",
          "DOCUMENT_VERIFICATION",
          "DOCUMENT_FETCH",
          "PEPS_AND_SANCTIONS_SCREEN",
          "VISA_CHECK",
          "CRA_BANK_ACCOUNT_VERIFICATION",
          "DEVICE_FRAUD_DETECTION",
          "FRAUD_SCREENING",
          "GEOCODING",
          "COMPANY_REGISTRY",
          "COMPANY_CHARITIES_REGISTRY",
          "COMPANY_OWNERSHIP",
          "COMPANY_DATA",
          "COMPANY_FILINGS",
          "COMPANY_FILING_PURCHASE",
          "COMPANY_PEPS_AND_SANCTIONS_SCREEN",
          "INDIVIDUAL_MANUAL_FORM",
          "COMPANY_MANUAL_FORM",
          "COMPANY_DOCUMENT_VERIFICATION",
          "COMPANY_FRAUD_SCREENING",
          "COMPANY_MERCHANT_FRAUD_SCREENING"
        ],
        "x-ms-enum": {
          "name": "CheckType",
          "modelAsString": true
        },
        "title": "CheckType"
      },
      "CheckVariant": {
        "description": "The identifier of a variant of a check.",
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/UUID"
          },
          "alias": {
            "type": "string",
            "description": "Alias of the check variant"
          },
          "name": {
            "type": "string",
            "description": "Name of the check variant"
          }
        },
        "required": [
          "id"
        ],
        "title": "CheckVariant"
      },
      "CheckRequest": {
        "description": "The identifier for the check. Possible values can be found in the [check reference](/reference/checks/introduction)",
        "type": "object",
        "properties": {
          "check_type": {
            "$ref": "#/components/schemas/CheckType"
          },
          "variant": {
            "$ref": "#/components/schemas/AliasOrId"
          },
          "task_ids": {
            "type": "array",
            "description": "The tasks related to this check",
            "items": {
              "$ref": "#/components/schemas/UUID"
            }
          },
          "instructed_externally": {
            "type": "boolean",
            "description": "Whether the check ran externally and contains the formatted result"
          },
          "output_data": {
            "type": "object",
            "description": "Contains the formatted result for an externally run check"
          },
          "result": {
            "type": "string",
            "description": "Only sent for externally run checks. The meaning of the result will depend on your provider and settings"
          }
        },
        "required": [
          "check_type"
        ]
      },
      "CheckedDocumentField": {
        "type": "string",
        "description": "Which field(s) were being checked",
        "enum": [
          "FIELD_GIVEN_NAMES",
          "FIELD_FAMILY_NAME",
          "FIELD_DOB",
          "FIELD_NATIONALITY",
          "FIELD_EXPIRY",
          "FIELD_NUMBER",
          "FIELD_GENDER",
          "FIELD_ISSUED",
          "FIELD_ADDRESS",
          "FIELD_ISSUING_COUNTRY",
          "FIELD_MRZ"
        ],
        "x-ms-enum": {
          "name": "CheckedDocumentField",
          "modelAsString": true
        },
        "title": "CheckedDocumentField"
      },
      "CollectionStep": {
        "type": "object",
        "title": "CollectionStep",
        "description": "Collection steps are the data you wish to collect from a profile. In PassFort Collect the fields required to complete the step will be presented to the user. Collection steps are automatically removed from a profile when the data they collect is fulfilled. If a profile has `collection_steps`, all checks instructed on a profile will go into a `PENDING` state until all steps are completed. ",
        "required": [
          "collection_type"
        ],
        "properties": {
          "collection_type": {
            "$ref": "#/components/schemas/CollectionStepType"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/CollectionStepFullName"
          },
          {
            "$ref": "#/components/schemas/CollectionStepDOB"
          },
          {
            "$ref": "#/components/schemas/CollectionStepAddressHistory"
          },
          {
            "$ref": "#/components/schemas/CollectionStepNationality"
          },
          {
            "$ref": "#/components/schemas/CollectionStepDocument"
          },
          {
            "$ref": "#/components/schemas/CollectionStepDocumentForTask"
          },
          {
            "$ref": "#/components/schemas/CollectionStepEmail"
          },
          {
            "$ref": "#/components/schemas/CollectionStepPhoneNumber"
          }
        ],
        "discriminator": {
          "propertyName": "collection_type",
          "mapping": {
            "ADDRESS_HISTORY": "#/components/schemas/CollectionStepAddressHistory",
            "DOB": "#/components/schemas/CollectionStepDOB",
            "FULL_NAME": "#/components/schemas/CollectionStepFullName",
            "NATIONALITY": "#/components/schemas/CollectionStepNationality",
            "DOCUMENT": "#/components/schemas/CollectionStepDocument",
            "EMAIL": "#/components/schemas/CollectionStepEmail",
            "DOCUMENT_FOR_TASK": "#/components/schemas/CollectionStepDocumentForTask",
            "PHONE_NUMBER": "#/components/schemas/CollectionStepPhoneNumber"
          }
        }
      },
      "CollectionStepAddressHistory": {
        "x-ms-discriminator-value": "ADDRESS_HISTORY",
        "allOf": [
          {
            "$ref": "#/components/schemas/CollectionStep"
          },
          {
            "type": "object",
            "title": "CollectionStepAddressHistory",
            "description": "Collect the profile's current address"
          }
        ]
      },
      "CollectionStepDOB": {
        "x-ms-discriminator-value": "DOB",
        "allOf": [
          {
            "$ref": "#/components/schemas/CollectionStep"
          },
          {
            "type": "object",
            "title": "CollectionStepDOB",
            "description": "Collect the profile's date of birth",
            "properties": {
              "precision": {
                "type": "string",
                "enum": [
                  "YEAR",
                  "YEAR_MONTH",
                  "YEAR_MONTH_DAY"
                ],
                "description": "Specify the precision required for date of birth. If unspecified will default to `YEAR_MONTH_DAY`"
              }
            }
          }
        ]
      },
      "CollectionStepDocument": {
        "x-ms-discriminator-value": "DOCUMENT",
        "allOf": [
          {
            "$ref": "#/components/schemas/CollectionStep"
          },
          {
            "type": "object",
            "title": "CollectionStepDocument",
            "description": "Collect a document from the profile (which can be used for a document verification)",
            "properties": {
              "id": {
                "$ref": "#/components/schemas/UUID"
              },
              "category": {
                "$ref": "#/components/schemas/DocumentCategory"
              },
              "facial_similarity": {
                "type": "boolean",
                "description": "Defaults to `false`. If this document is going to be used for a `DOCUMENT_VERIFICATION` that performs a facial similarity check, enabling this will ask the user to upload a photo of themselves in addition to their document"
              },
              "allowed_types": {
                "type": "array",
                "description": "Specifies the types of document that are accepted. These will be presented as options to the user completing the step",
                "items": {
                  "$ref": "#/components/schemas/DocumentType"
                }
              }
            },
            "required": [
              "collection_type",
              "category",
              "allowed_types"
            ]
          }
        ]
      },
      "CollectionStepDocumentForTask": {
        "x-ms-discriminator-value": "DOCUMENT_FOR_TASK",
        "allOf": [
          {
            "$ref": "#/components/schemas/CollectionStep"
          },
          {
            "type": "object",
            "title": "CollectionStepDocumentForTask",
            "description": "Collect a document from the profile",
            "properties": {
              "id": {
                "$ref": "#/components/schemas/UUID"
              },
              "task_id": {
                "$ref": "#/components/schemas/UUID"
              }
            },
            "required": [
              "collection_type",
              "task_id"
            ]
          }
        ]
      },
      "CollectionStepEmail": {
        "x-ms-discriminator-value": "EMAIL",
        "allOf": [
          {
            "$ref": "#/components/schemas/CollectionStep"
          },
          {
            "type": "object",
            "title": "CollectionStepEmail",
            "description": "Collect the profile's email"
          }
        ]
      },
      "CollectionStepFullName": {
        "x-ms-discriminator-value": "FULL_NAME",
        "allOf": [
          {
            "$ref": "#/components/schemas/CollectionStep"
          },
          {
            "type": "object",
            "title": "CollectionStepFullName",
            "description": "Collect the profile's full name"
          }
        ]
      },
      "CollectionStepNationality": {
        "x-ms-discriminator-value": "NATIONALITY",
        "allOf": [
          {
            "$ref": "#/components/schemas/CollectionStep"
          },
          {
            "type": "object",
            "title": "CollectionStepNationality",
            "description": "Collect the profile's nationality"
          }
        ]
      },
      "CollectionStepPhoneNumber": {
        "x-ms-discriminator-value": "PHONE_NUMBER",
        "allOf": [
          {
            "$ref": "#/components/schemas/CollectionStep"
          },
          {
            "type": "object",
            "title": "CollectionStepPhoneNumber",
            "description": "Collect the profile's phone number"
          }
        ]
      },
      "CollectionStepType": {
        "description": "Specifies the data to be collected",
        "type": "string",
        "enum": [
          "FULL_NAME",
          "DOB",
          "ADDRESS_HISTORY",
          "NATIONALITY",
          "DOCUMENT",
          "DOCUMENT_FOR_TASK",
          "EMAIL",
          "PHONE_NUMBER"
        ],
        "x-ms-enum": {
          "name": "CollectionStepType",
          "modelAsString": true
        },
        "title": "CollectionStepType"
      },
      "Coordinates": {
        "description": "Geo Coordinates",
        "properties": {
          "longitude": {
            "type": "number",
            "description": "Longitude of coordinate (-180.0 to 80.0)"
          },
          "latitude": {
            "type": "number",
            "description": "Latitude of coordinate (-90.0 to 90.0)"
          },
          "name": {
            "type": "string",
            "description": "A label for the coordinate"
          }
        },
        "required": [
          "longitude",
          "latitude"
        ],
        "type": "object",
        "title": "Coordinates"
      },
      "CountryCode": {
        "description": "[ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) (3 letter country code)",
        "type": "string",
        "enum": [
          "AFG",
          "ALA",
          "ALB",
          "DZA",
          "ASM",
          "AND",
          "AGO",
          "AIA",
          "ATA",
          "ATG",
          "ARG",
          "ARM",
          "ABW",
          "AUS",
          "AUT",
          "AZE",
          "BHS",
          "BHR",
          "BGD",
          "BRB",
          "BLR",
          "BEL",
          "BLZ",
          "BEN",
          "BMU",
          "BTN",
          "BOL",
          "BES",
          "BIH",
          "BWA",
          "BVT",
          "BRA",
          "IOT",
          "BRN",
          "BGR",
          "BFA",
          "BDI",
          "KHM",
          "CMR",
          "CAN",
          "CPV",
          "CYM",
          "CAF",
          "TCD",
          "CHL",
          "CHN",
          "CXR",
          "CCK",
          "COL",
          "COM",
          "COG",
          "COD",
          "COK",
          "CRI",
          "CIV",
          "HRV",
          "CUB",
          "CUW",
          "CYP",
          "CZE",
          "DNK",
          "DJI",
          "DMA",
          "DOM",
          "ECU",
          "EGY",
          "SLV",
          "GNQ",
          "ERI",
          "EST",
          "ETH",
          "FLK",
          "FRO",
          "FJI",
          "FIN",
          "FRA",
          "GUF",
          "PYF",
          "ATF",
          "GAB",
          "GMB",
          "GEO",
          "DEU",
          "GHA",
          "GIB",
          "GRC",
          "GRL",
          "GRD",
          "GLP",
          "GUM",
          "GTM",
          "GGY",
          "GIN",
          "GNB",
          "GUY",
          "HTI",
          "HMD",
          "VAT",
          "HND",
          "HKG",
          "HUN",
          "ISL",
          "IND",
          "IDN",
          "IRN",
          "IRQ",
          "IRL",
          "IMN",
          "ISR",
          "ITA",
          "JAM",
          "JPN",
          "JEY",
          "JOR",
          "KAZ",
          "KEN",
          "KIR",
          "PRK",
          "KOR",
          "KWT",
          "KGZ",
          "LAO",
          "LVA",
          "LBN",
          "LSO",
          "LBR",
          "LBY",
          "LIE",
          "LTU",
          "LUX",
          "MAC",
          "MKD",
          "MDG",
          "MWI",
          "MYS",
          "MDV",
          "MLI",
          "MLT",
          "MHL",
          "MTQ",
          "MRT",
          "MUS",
          "MYT",
          "MEX",
          "FSM",
          "MDA",
          "MCO",
          "MNG",
          "MNE",
          "MSR",
          "MAR",
          "MOZ",
          "MMR",
          "NAM",
          "NRU",
          "NPL",
          "NLD",
          "NCL",
          "NZL",
          "NIC",
          "NER",
          "NGA",
          "NIU",
          "NFK",
          "MNP",
          "NOR",
          "OMN",
          "PAK",
          "PLW",
          "PSE",
          "PAN",
          "PNG",
          "PRY",
          "PER",
          "PHL",
          "PCN",
          "POL",
          "PRT",
          "PRI",
          "QAT",
          "REU",
          "RKS",
          "ROU",
          "RUS",
          "RWA",
          "BLM",
          "SHN",
          "KNA",
          "LCA",
          "MAF",
          "SPM",
          "VCT",
          "WSM",
          "SMR",
          "STP",
          "SAU",
          "SEN",
          "SRB",
          "SYC",
          "SLE",
          "SGP",
          "SXM",
          "SVK",
          "SVN",
          "SLB",
          "SOM",
          "ZAF",
          "SGS",
          "ESP",
          "LKA",
          "SDN",
          "SUR",
          "SSD",
          "SJM",
          "SWZ",
          "SWE",
          "CHE",
          "SYR",
          "TWN",
          "TJK",
          "TZA",
          "THA",
          "TLS",
          "TGO",
          "TKL",
          "TON",
          "TTO",
          "TUN",
          "TUR",
          "TKM",
          "TCA",
          "TUV",
          "UGA",
          "UKR",
          "ARE",
          "GBR",
          "USA",
          "UMI",
          "URY",
          "UZB",
          "VUT",
          "VEN",
          "VNM",
          "VGB",
          "VIR",
          "WLF",
          "ESH",
          "XXX",
          "YEM",
          "ZMB",
          "ZWE",
          "UNK",
          "ZZZ"
        ],
        "example": "GBR",
        "title": "CountryCode"
      },
      "CountryMatchData": {
        "description": "Information about the match against the input country",
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/CountryMatchType"
          },
          "country_code": {
            "$ref": "#/components/schemas/CountryCode"
          }
        },
        "title": "CountryMatchData"
      },
      "CountryMatchType": {
        "description": "Determine what information matched against the input country",
        "type": "string",
        "enum": [
          "AFFILIATION",
          "CITIZENSHIP",
          "CURRENT_OWNERSHIP",
          "OWNERSHIP",
          "JURISDICTION",
          "REGISTRATION",
          "ALLEGATION",
          "RESIDENCE",
          "RISK",
          "FORMERLY_SANCTIONED",
          "SANCTIONED",
          "NATIONALITY"
        ],
        "title": "CountryMatchType"
      },
      "CreateFileResource": {
        "description": "The base unit data type of documents. This just represents a file. For more context on the file you probably want to wrap it with a DocumentImageResource",
        "type": "object",
        "properties": {
          "data": {
            "type": "string",
            "description": "The binary data of the image, encoded in base64.\n\nThis is used on _upload_, but is not available on _download_ (see `encrypted_data`)"
          }
        },
        "required": [
          "data"
        ],
        "title": "CreateFileResource"
      },
      "CreateNoteResource": {
        "type": "object",
        "description": "Definition used to create a new note (with optional associated files)",
        "properties": {
          "text": {
            "type": "string",
            "description": "Note text"
          },
          "attachments": {
            "description": "Associated files (if present)",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MinimalFileResource"
            }
          }
        },
        "title": "CreateNoteResource"
      },
      "CreditReference": {
        "type": "object",
        "description": "Matches from Credit Database",
        "properties": {
          "cais_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "cais_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "cais_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "caps_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "caps_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "caps_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "ccj_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "ccj_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "partial": {
            "$ref": "#/components/schemas/MatchResult"
          }
        },
        "title": "CreditReference"
      },
      "CustomFieldData": {
        "type": "object",
        "additionalProperties": {
          "oneOf": [
            {
              "type": "number"
            },
            {
              "type": "string"
            },
            {
              "type": "boolean"
            }
          ]
        },
        "description": "Data that has been set based on the custom fields schema",
        "title": "CustomFieldData"
      },
      "DataURI": {
        "description": "Data URI format, typically used for decrypted images",
        "type": "string",
        "pattern": "^data:((?:[a-zA-Z0-9+/]+/(?:(?!;).)+)?)((?:;[a-zA-Z0-9+/=]*[^;])*),(.+)$",
        "title": "DataURI",
        "example": "data:text/plain;base64,SGVsbG8sIFdvcmxkIQ%3D%3D"
      },
      "DatabaseMatches": {
        "type": "object",
        "description": "Matches from other Databases",
        "properties": {
          "electoral_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "electoral_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "electoral_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "national_id_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "national_id_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "national_id_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "ssn_name": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "ssn_name_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "ssn_name_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "telephone_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "telephone_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "deu_consumer_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "deu_consumer_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "deu_postal_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "deu_postal_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "deu_landline_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "deu_landline_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "deu_mobile_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "deu_mobile_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "deu_financial_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "deu_financial_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "deu_financial_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "irl_voter_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "irl_voter_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "irl_address_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "aut_financial_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "aut_financial_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "aut_financial_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "aut_financial_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "che_financial_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "che_financial_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "che_financial_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "arg_financial_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "arg_financial_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "arg_financial_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "lux_consent_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "lux_consent_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "lux_consent_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "lux_landline_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "lux_landline_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nld_consent_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nld_consent_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nld_consent_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nzl_consent_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nzl_consent_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nzl_property_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nzl_property_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nzl_landline_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nzl_landline_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "esp_consent_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "esp_consent_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "esp_consent_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "esp_population_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "esp_population_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "esp_population_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "esp_landline_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "esp_landline_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "esp_landline_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "bra_population_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "bra_population_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "bra_population_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "bel_population_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "bel_population_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "bel_population_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "bel_landline_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "bel_landline_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "bel_landline_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "fra_population_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "fra_population_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "fra_population_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "fra_landline_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "fra_landline_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "fra_landline_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "swe_population_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "swe_population_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "swe_population_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "swe_personal_id_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "swe_personal_id_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "swe_personal_id_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "onfido_proprietary_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "onfido_proprietary_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "onfido_proprietary_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "government_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "government_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "government_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "business_registration_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "business_registration_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "business_registration_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "consumer_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "consumer_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "consumer_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "utility_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "utility_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "utility_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "postal_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "postal_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "postal_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "commercial_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "commercial_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "commercial_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "mortality_list": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "ssn_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "ssn_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "electoral_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "national_id_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "national_id_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "telephone_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "telephone_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "telephone_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "deu_consumer_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "deu_consumer_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "deu_consumer_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "deu_postal_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "deu_postal_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "deu_postal_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "deu_landline_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "deu_landline_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "deu_landline_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "deu_mobile_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "deu_mobile_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "deu_mobile_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "deu_financial_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "deu_financial_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "irl_voter_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "irl_voter_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "irl_voter_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "irl_address_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "irl_address_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "irl_address_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "irl_address_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "aut_financial_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "ita_population_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "ita_population_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "ita_population_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "ita_population_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "ita_population_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "dnk_landline_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "dnk_landline_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "dnk_landline_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "dnk_landline_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "dnk_landline_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "dnk_personal_id_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "dnk_personal_id_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "dnk_personal_id_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "dnk_personal_id_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "dnk_personal_id_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "che_financial_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "che_financial_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "arg_financial_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "arg_financial_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "lux_consent_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "lux_consent_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "lux_landline_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "lux_landline_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "lux_landline_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nld_consent_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nld_consent_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nzl_consent_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nzl_consent_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nzl_consent_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nzl_property_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nzl_property_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nzl_property_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nzl_landline_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nzl_landline_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nzl_landline_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "esp_consent_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "esp_consent_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "esp_population_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "esp_population_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "esp_landline_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "esp_landline_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "bra_population_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "bra_population_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "bel_population_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "bel_population_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "bel_landline_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "bel_landline_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "fra_population_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "fra_population_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "fra_landline_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "fra_landline_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nor_population_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nor_population_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nor_population_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nor_population_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nor_population_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nor_marketing_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nor_marketing_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nor_marketing_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nor_marketing_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nor_marketing_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nor_landline_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nor_landline_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nor_landline_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nor_landline_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nor_landline_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nor_mobile_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nor_mobile_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nor_mobile_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nor_mobile_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "nor_mobile_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "swe_population_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "swe_population_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "swe_personal_id_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "swe_personal_id_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "usa_population_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "usa_population_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "usa_population_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "usa_population_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "usa_population_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "chn_population_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "chn_population_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "chn_population_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "chn_population_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "chn_population_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "hkg_population_exact_dob": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "hkg_population_exact": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "hkg_population_partial": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "hkg_population_address": {
            "$ref": "#/components/schemas/MatchResult"
          },
          "hkg_population_dob": {
            "$ref": "#/components/schemas/MatchResult"
          }
        },
        "title": "DatabaseMatches"
      },
      "Date": {
        "description": "Exact date in `YYYY-MM-DD` format",
        "type": "string",
        "pattern": "(^\\d{4}-\\d{2}-\\d{2}$)",
        "title": "Date",
        "example": "1992-11-24"
      },
      "DateMatchData": {
        "description": "Information about the match against the input date",
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/DateMatchType"
          },
          "date": {
            "$ref": "#/components/schemas/PartialDate"
          }
        },
        "required": [
          "date"
        ],
        "title": "DateMatchData"
      },
      "DateMatchType": {
        "description": "Determine what information matched against the input date",
        "type": "string",
        "enum": [
          "DOB",
          "DECEASED",
          "END_OF_PEP",
          "END_OF_RCA_TO_PEP"
        ],
        "title": "DateMatchType"
      },
      "DateTime": {
        "description": "Exact date and time in `YYYY-MM-DD hh:mm:ss` format.",
        "type": "string",
        "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
        "title": "DateTime",
        "example": "2017-02-08 15:16:01"
      },
      "DecisionClass": {
        "description": "Classification used for unifying check results.",
        "type": "string",
        "enum": [
          "PASS",
          "FAIL",
          "PARTIAL",
          "WARN",
          "ERROR"
        ],
        "x-ms-enum": {
          "name": "DecisionClass",
          "modelAsString": true
        },
        "title": "DecisionClass"
      },
      "DeviceFraudDetection": {
        "type": "object",
        "description": "Device fraud detection check results",
        "properties": {
          "provider_reference": {
            "type": "string",
            "description": "Reference supplied by the check provider"
          },
          "recommendation": {
            "type": "string",
            "description": "Recommendation given by the provider"
          },
          "recommendation_reason": {
            "type": "string",
            "description": "Human readable reason for the given recommendation"
          },
          "total_score": {
            "type": "integer",
            "description": "Score calculated by the provider"
          },
          "matched_rules": {
            "type": "array",
            "description": "List of matching rules for this device",
            "items": {
              "$ref": "#/components/schemas/DeviceFraudRule"
            }
          },
          "used_test_environment": {
            "type": "boolean",
            "description": "If the test environment was used to generate the matched rules"
          }
        },
        "title": "DeviceFraudDetection"
      },
      "DeviceFraudRule": {
        "description": "Matching fraud rule for a device",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the rule"
          },
          "reason": {
            "type": "string",
            "description": "Reason this rule was activated"
          },
          "score": {
            "type": "integer",
            "description": "Contribution to the score from this rule"
          }
        },
        "title": "DeviceFraudRule"
      },
      "DeviceMetadata": {
        "description": "Data about a users device",
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "A token representing the device"
          },
          "stated_ip": {
            "type": "string",
            "description": "Stated IP address of the device"
          },
          "action": {
            "type": "string",
            "description": "The associated action"
          },
          "reference_id": {
            "type": "string",
            "description": "Device reference ID"
          },
          "device_id": {
            "type": "string",
            "description": "Device identifier allocated by the check provider"
          },
          "device_type": {
            "type": "string",
            "description": "Type of device determined by the check provider"
          }
        },
        "required": [
          "token"
        ],
        "title": "DeviceMetadata"
      },
      "Document": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DocumentBase"
          },
          {
            "type": "object",
            "title": "Document",
            "description": "A single document with one or more images",
            "properties": {
              "images": {
                "type": "array",
                "description": "Images that make up the document. For example a `DRIVING_LICENCE` will have a `FRONT` and a `BACK`",
                "items": {
                  "$ref": "#/components/schemas/DocumentImageResourceMinimal"
                }
              }
            }
          }
        ]
      },
      "DocumentBase": {
        "description": "A single document with one or more images",
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/UUID"
          },
          "category": {
            "$ref": "#/components/schemas/DocumentCategory"
          },
          "document_type": {
            "$ref": "#/components/schemas/DocumentType"
          },
          "extracted_data": {
            "$ref": "#/components/schemas/DocumentData"
          },
          "verification_result": {
            "$ref": "#/components/schemas/DocumentResult"
          },
          "files": {
            "type": "array",
            "description": "Files associated with the document",
            "items": {
              "$ref": "#/components/schemas/DocumentFile"
            }
          }
        },
        "required": [
          "category",
          "document_type"
        ],
        "title": "DocumentBase"
      },
      "DocumentCategory": {
        "description": "Describes how this document should be used by the system",
        "type": "string",
        "enum": [
          "PROOF_OF_IDENTITY",
          "PROOF_OF_SOURCE_OF_WEALTH",
          "PROOF_OF_SOURCE_OF_FUNDS",
          "PROOF_OF_ADDRESS",
          "SUPPORTING",
          "COMPANY_FILING",
          "DATA_SUMMARY",
          "PROOF_OF_BANK_ACCOUNT",
          "PROOF_OF_TAX_STATUS"
        ],
        "x-ms-enum": {
          "name": "DocumentCategory",
          "modelAsString": true
        },
        "title": "DocumentCategory"
      },
      "DocumentCheck": {
        "type": "object",
        "description": "Details of a document check",
        "properties": {
          "category": {
            "type": "string",
            "description": "Category of forgery check"
          },
          "type": {
            "type": "string",
            "description": "Type of forgery check"
          },
          "result": {
            "$ref": "#/components/schemas/DecisionClass"
          }
        },
        "title": "DocumentCheck"
      },
      "DocumentData": {
        "description": "All data extracted from a document",
        "type": "object",
        "properties": {
          "issuer": {
            "type": "string",
            "description": "Name of the issuing authority"
          },
          "issuing_country": {
            "$ref": "#/components/schemas/ICAOCode"
          },
          "number": {
            "type": "string",
            "description": "Document number"
          },
          "issued": {
            "$ref": "#/components/schemas/Date"
          },
          "expiry": {
            "$ref": "#/components/schemas/Date"
          },
          "personal_details": {
            "$ref": "#/components/schemas/PersonalDetails"
          },
          "address_history": {
            "$ref": "#/components/schemas/AddressHistory"
          },
          "mrz1": {
            "type": "string",
            "description": "Line one of the [Machine-Readable Zone](https://en.wikipedia.org/wiki/Machine-readable_passport)"
          },
          "mrz2": {
            "type": "string",
            "description": "Line two of the MRZ"
          },
          "mrz3": {
            "type": "string",
            "description": "Line three of the MRZ"
          },
          "result": {
            "$ref": "#/components/schemas/DocumentResult"
          },
          "external_service": {
            "type": "string",
            "description": "External service"
          },
          "external_ref": {
            "type": "string",
            "description": "External service reference"
          }
        },
        "title": "DocumentData"
      },
      "DocumentFile": {
        "description": "A file that is related to the document",
        "type": "object",
        "properties": {
          "file_id": {
            "$ref": "#/components/schemas/UUID"
          },
          "type": {
            "$ref": "#/components/schemas/DocumentFileType"
          },
          "reference": {
            "type": "string",
            "description": "A reference associated with the file, such as the id of the document stored on a 3rd party integration."
          }
        },
        "required": [
          "file_id",
          "type"
        ],
        "title": "DocumentFile"
      },
      "DocumentFileType": {
        "description": "How this image relates to the document",
        "type": "string",
        "enum": [
          "LIVE_VIDEO",
          "VIDEO_FRAME"
        ],
        "x-ms-enum": {
          "name": "DocumentFileType",
          "modelAsString": true
        },
        "title": "DocumentFileType"
      },
      "DocumentImageResource": {
        "description": "A single image of a document",
        "type": "object",
        "properties": {
          "provider_reference": {
            "type": "string",
            "description": "The provider's reference for this document image, where applicable"
          },
          "image_type": {
            "$ref": "#/components/schemas/DocumentImageType"
          },
          "data": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Base64"
              },
              {
                "$ref": "#/components/schemas/DataURI"
              }
            ],
            "description": "The binary data of the image, encoded in base64.\n\n**Max file size:** 10MB\n\n**Supported file types**: PNG, GIF, JPG, PDF\n\nThis is used on _upload_, but is not available on _download_ (see `encrypted_data`)"
          }
        },
        "required": [
          "data"
        ],
        "title": "DocumentImageResource"
      },
      "DocumentImageResourceGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DocumentImageResourceMinimal"
          },
          {
            "type": "object",
            "description": "A single image of a document",
            "title": "DocumentImageResourceGet",
            "properties": {
              "decrypted_data": {
                "$ref": "#/components/schemas/DataURI"
              }
            }
          }
        ]
      },
      "DocumentImageResourceMinimal": {
        "description": "A single image of a document",
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/UUID"
          },
          "provider_reference": {
            "type": "string",
            "description": "The provider's reference for this document image, where applicable"
          },
          "image_type": {
            "$ref": "#/components/schemas/DocumentImageType"
          },
          "upload_date": {
            "$ref": "#/components/schemas/DateTime"
          },
          "file_id": {
            "$ref": "#/components/schemas/UUID"
          }
        },
        "title": "DocumentImageResourceMinimal"
      },
      "DocumentImageType": {
        "description": "How this image relates to the document",
        "type": "string",
        "enum": [
          "FRONT",
          "BACK",
          "FACE"
        ],
        "x-ms-enum": {
          "name": "DocumentImageType",
          "modelAsString": true
        },
        "title": "DocumentImageType"
      },
      "DocumentMetadata": {
        "description": "A document number and issuer",
        "type": "object",
        "properties": {
          "document_type": {
            "$ref": "#/components/schemas/DocumentTypeForDocumentMetadata"
          },
          "number": {
            "type": "string",
            "description": "The identifying number of the document. Note that PassFort does not validate the number format."
          },
          "country_code": {
            "$ref": "#/components/schemas/CountryCode"
          },
          "issuing_state": {
            "type": "string",
            "description": "The 2 letter state code, provided in the [ISO 3166-2](https://en.wikipedia.org/wiki/ISO_3166-2) format, of the country that issued the document"
          },
          "version": {
            "type": "string",
            "description": "The version number of the document"
          }
        },
        "required": [
          "number",
          "country_code",
          "document_type"
        ],
        "title": "DocumentMetadata"
      },
      "DocumentMetadataIdentityNumber": {
        "description": "An identity number",
        "type": "object",
        "properties": {
          "document_type": {
            "$ref": "#/components/schemas/DocumentTypeForDocumentMetadata"
          },
          "number": {
            "type": "string",
            "description": "The identifying number. Note that PassFort does not validate the number format."
          },
          "country_code": {
            "$ref": "#/components/schemas/CountryCode"
          },
          "issuing_state": {
            "type": "string",
            "description": "The 2 letter state code, provided in the [ISO 3166-2](https://en.wikipedia.org/wiki/ISO_3166-2) format, of the country that issued the document"
          },
          "version": {
            "type": "string",
            "description": "The version number of the document"
          }
        },
        "required": [
          "number",
          "country_code",
          "document_type"
        ],
        "title": "DocumentMetadataIdentityNumber"
      },
      "DocumentPost": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DocumentBase"
          },
          {
            "type": "object",
            "description": "A single document with one or more images",
            "title": "DocumentPost",
            "properties": {
              "images": {
                "type": "array",
                "description": "Images that make up the document. For example a `DRIVING_LICENCE` will have a `FRONT` and a `BACK`",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/UUID"
                    }
                  }
                }
              }
            },
            "required": [
              "images"
            ]
          }
        ]
      },
      "DocumentResult": {
        "type": "object",
        "description": "Results of a check on a document",
        "properties": {
          "provider_name": {
            "type": "string",
            "description": "Name of the verification provider"
          },
          "review_date": {
            "$ref": "#/components/schemas/DateTime"
          },
          "provider_information": {
            "type": "array",
            "description": "Additional information returned by a provider",
            "items": {
              "$ref": "#/components/schemas/ProviderField"
            }
          },
          "image_Checks_passed": {
            "type": "boolean",
            "description": "Whether all of the image checks passed. These cover aspects such as the resolution and clarity of the image(s)"
          },
[...]
