{
  "openapi": "3.0.0",
  "info": {
    "title": "ipstack API",
    "description":
      "ipstack offers a powerful, real-time IP to geolocation API capable of looking up accurate location data and assessing security threats originating from risky IP addresses. (https://ipstack.com/documentation)",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "http://api.ipstack.com",
      "description": "API via HTTP"
    },
    {
      "url": "https://api.ipstack.com",
      "description": "API via HTTPS"
    }
  ],
  "components": {
    "parameters": {
      "AccessKey": {
        "in": "query",
        "name": "access_key",
        "description": "Your API Access Key is your unique authentication key used to gain access to the ipstack API. In order to authenticate with the API, append the access_key parameter to the API's base URL and set it to your access key value.",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "IpAddressDetails": {
        "type": "object",
        "description": "An object containing IP address location data.",
        "properties": {
          "ip": {
            "type": "string",
            "readOnly": true,
            "description": "Requested IP address."
          },
          "hostname": {
            "type": "string",
            "format": "hostname",
            "readOnly": true,
            "description": "Hostname the requested IP resolves to, only returned if Hostname Lookup is enabled."
          },
          "type": {
            "type": "string",
            "readOnly": true,
            "enum": [ "IPv4", "IPv6" ],
            "x-ms-enum": {
              "name": "IPType",
              "modelAsString": true,
              "values": [
                {
                  "value": "IPv4",
                  "description": "IPv4"
                },
                {
                  "value": "IPv6",
                  "description": "IPv6"
                }
              ]
            },
            "description": "IP address type IPv4 or IPv6."
          },
          "continent_code": {
            "type": "string",
            "maxLength": 2,
            "enum": [ "AF", "AS", "EU", "NA", "OC", "SA", "AN" ],
            "readOnly": true,
            "description": "2-letter continent code associated with the IP."
          },
          "continent_name": {
            "type": "string",
            "readOnly": true,
            "description": "Name of the continent associated with the IP."
          },
          "country_code": {
            "type": "string",
            "maxLength": 2,
            "readOnly": true,
            "description": "2-letter country code associated with the IP. (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)"
          },
          "country_name": {
            "type": "string",
            "readOnly": true,
            "description": "Name of the country associated with the IP."
          },
          "region_code": {
            "type": "string",
            "readOnly": true,
            "description": "Region code of the region associated with the IP (e.g. CA for California)."
          },
          "region_name": {
            "type": "string",
            "readOnly": true,
            "description": "Name of the region associated with the IP."
          },
          "city": {
            "type": "string",
            "readOnly": true,
            "description": "Name of the city associated with the IP."
          },
          "zip": {
            "type": "string",
            "readOnly": true,
            "description": "ZIP code associated with the IP."
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "nullable": false,
            "x-nullable": false,
            "readOnly": true,
            "description": "Latitude value associated with the IP."
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "nullable": false,
            "x-nullable": false,
            "readOnly": true,
            "description": "Longitude value associated with the IP."
          },
          "location": {
            "$ref": "#/components/schemas/Location",
            "description": "Returns multiple location-related objects."
          },
          "time_zone": {
            "$ref": "#/components/schemas/TimeZone",
            "description": "Returns an object containing timezone-related data."
          },
          "currency": {
            "$ref": "#/components/schemas/Currency",
            "description": "Returns an object containing currency-related data."
          },
          "connection": {
            "$ref": "#/components/schemas/Connection",
            "description": "Returns an object containing connection-related data."
          },
          "security": {
            "$ref": "#/components/schemas/Security",
            "description": "Returns an object containing security-related data."
          }
        }
      },
      "Location": {
        "type": "object",
        "description": "An object containing location details associated with the IP.",
        "properties": {
          "geoname_id": {
            "type": "number",
            "readOnly": true,
            "nullable": false,
            "x-nullable": false,
            "description": "Unique geoname identifier in accordance with the Geonames Registry. (http://www.geonames.org/)"
          },
          "capital": {
            "type": "string",
            "readOnly": true,
            "description": "Capital city of the country associated with the IP."
          },
          "languages": {
            "type": "array",
            "readOnly": true,
            "description": "An object containing one or multiple sub-objects per language spoken in the country associated with the IP.",
            "items": {
              "$ref": "#/components/schemas/Language"
            }
          },
          "country_flag": {
            "type": "string",
            "readOnly": true,
            "description": "HTTP URL leading to an SVG-flag icon for the country associated with the IP."
          },
          "country_flag_emoji": {
            "type": "string",
            "readOnly": true,
            "description": "Emoji icon for the flag of the country associated with the IP."
          },
          "country_flag_emoji_unicode": {
            "type": "string",
            "readOnly": true,
            "description": "Unicode value of the emoji icon for the flag of the country associated with the IP. (e.g. U+1F1F5 U+1F1F9 for the Portuguese flag)."
          },
          "calling_code": {
            "type": "string",
            "readOnly": true,
            "description": "Calling/dial code of the country associated with the IP. (e.g. 351) for Portugal."
          },
          "is_eu": {
            "type": "boolean",
            "readOnly": true,
            "nullable": false,
            "x-nullable": false,
            "description": "True or false depending on whether or not the county associated with the IP is in the European Union."
          }
        }
      },
      "Language": {
        "type": "object",
        "description": "An object containing details of language spoken in the country associated with the IP.",
        "properties": {
          "code": {
            "type": "string",
            "maxLength": 2,
            "readOnly": true,
            "description": "2-letter language code for the given language. (https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes)"
          },
          "name": {
            "type": "string",
            "readOnly": true,
            "description": "Name (in the API request's main language) of the given language. (e.g. Portuguese)."
          },
          "native": {
            "type": "string",
            "readOnly": true,
            "description": "Native name of the given language. (e.g. Português)."
          }
        }
      },
      "TimeZone": {
        "type": "object",
        "description": "An object containing timezone-related data.",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "ID of the time zone associated with the IP. (e.g. America/Los_Angeles for PST)."
          },
          "current_time": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "x-nullable": false,
            "readOnly": true,
            "description": "Current date and time in the location associated with the IP. (e.g. 2018-03-29T22:31:27-07:00)."
          },
          "gmt_offset": {
            "type": "integer",
            "nullable": false,
            "x-nullable": false,
            "readOnly": true,
            "description": "GMT offset of the given time zone in seconds (e.g. -25200 for PST's -7h GMT offset)."
          },
          "code": {
            "type": "string",
            "readOnly": true,
            "description": "Universal code of the given time zone. (https://www.timeanddate.com/time/zones/)."
          },
          "is_daylight_saving": {
            "type": "boolean",
            "nullable": false,
            "x-nullable": false,
            "readOnly": true,
            "description": "True or false depending on whether or not the given time zone is considered daylight saving time."
          }
        }
      },
      "Currency": {
        "type": "object",
        "description": "An object containing currency-related data.",
        "properties": {
          "code": {
            "type": "string",
            "maxLength": 3,
            "readOnly": true,
            "description": "3-letter code of the main currency associated with the IP. Example: USD - https://www.iban.com/currency-codes.html"
          },
          "name": {
            "type": "string",
            "readOnly": true,
            "description": "Name of the given currency."
          },
          "plural": {
            "type": "string",
            "readOnly": true,
            "description": "Plural name of the given currency."
          },
          "symbol": {
            "type": "string",
            "readOnly": true,
            "description": "Symbol letter of the given currency."
          },
          "symbol_native": {
            "type": "string",
            "readOnly": true,
            "description": "Native symbol letter of the given currency."
          }
        }
      },
      "Connection": {
        "type": "object",
        "description": "An object containing connection-related data.",
        "properties": {
          "asn": {
            "type": "number",
            "nullable": true,
            "x-nullable": true,
            "description": "Autonomous System Number associated with the IP. (https://www.techopedia.com/definition/26871/autonomous-system-number-asn)"
          },
          "isp": {
            "type": "string",
            "description": "Name of the ISP associated with the IP."
          }
        }
      },
      "Security": {
        "type": "object",
        "description": "An object containing security-related data.",
        "properties": {
          "is_proxy": {
            "type": "boolean",
            "nullable": false,
            "x-nullable": false,
            "readOnly": true,
            "description": "True or false depending on whether or not the given IP is associated with a proxy."
          },
          "proxy_type": {
            "type": "string",
            "enum": [ "cgi", "web", "vpn" ],
            "x-ms-enum": {
              "name": "ProxyType",
              "modelAsString": true,
              "values": [
                {
                  "value": "cgi",
                  "description": "CGI Proxy"
                },
                {
                  "value": "web",
                  "description": "Web Proxy"
                },
                {
                  "value": "vpn",
                  "description": "VPN Proxy"
                }
              ]
            },
            "nullable": true,
            "x-nullable": true,
            "readOnly": true,
            "description": "Type of proxy the IP is associated with."
          },
          "is_crawler": {
            "type": "boolean",
            "nullable": false,
            "x-nullable": false,
            "readOnly": true,
            "description": "True or false depending on whether or not the given IP is associated with a crawler."
          },
          "crawler_name": {
            "type": "string",
            "readOnly": true,
            "description": "Name of the crawler the IP is associated with."
          },
          "crawler_type": {
            "type": "string",
            "enum": [
              "unrecognized",
              "search_engine_bot",
              "site_monitor",
              "screenshot_creator",
              "link_checker",
              "wearable_computer",
              "web_scraper",
              "vulnerability_scanner",
              "virus_scanner",
              "speed_tester",
              "feed_fetcher",
              "tool",
              "marketing"
            ],
            "x-ms-enum": {
              "name": "CrawlerType",
              "modelAsString": true,
              "values": [
                {
                  "value": "unrecognized",
                  "description": "Unrecognized"
                },
                {
                  "value": "search_engine_bot",
                  "description": "Search engine bot"
                },
                {
                  "value": "site_monitor",
                  "description": "Site monitor"
                },
                {
                  "value": "screenshot_creator",
                  "description": "Screenshot creator"
                },
                {
                  "value": "link_checker",
                  "description": "Link checker"
                },
                {
                  "value": "wearable_computer",
                  "description": "Wearable computer"
                },
                {
                  "value": "web_scraper",
                  "description": "Web scraper"
                },
                {
                  "value": "vulnerability_scanner",
                  "description": "Vulnerability scanner"
                },
                {
                  "value": "virus_scanner",
                  "description": "Virus scanner"
                },
                {
                  "value": "speed_tester",
                  "description": "Speed tester"
                },
                {
                  "value": "feed_fetcher",
                  "description": "Feed Fetcher"
                },
                {
                  "value": "tool",
                  "description": "Tool"
                },
                {
                  "value": "marketing",
                  "description": "Marketing"
                }
              ]
            },
            "nullable": true,
            "x-nullable": true,
            "readOnly": true,
            "description": "Type of crawler the IP is associated with."
          },
          "is_tor": {
            "type": "boolean",
            "readOnly": true,
            "description": "True or false depending on whether or not the given IP is associated with the anonymous Tor system."
          },
          "threat_level": {
            "type": "string",
            "enum": [ "low", "medium", "high" ],
            "x-ms-enum": {
              "name": "ThreatLevel",
              "modelAsString": true,
              "values": [
                {
                  "value": "low",
                  "description": "Low Risk"
                },
                {
                  "value": "medium",
                  "description": "Medium Risk"
                },
                {
                  "value": "high",
                  "description": "High Risk"
                }
              ]
            },
            "nullable": true,
            "x-nullable": true,
            "readOnly": true,
            "description": "Type of threat level the IP is associated with."
          },
          "threat_types": {
            "type": "string",
            "enum": [
              "tor",
              "fake_crawler",
              "web_scraper",
              "attack_source",
              "attack_source_http",
              "attack_source_mail",
              "attack_source_ssh"
            ],
            "x-ms-enum": {
              "name": "ThreatType",
              "modelAsString": true,
              "values": [
                {
                  "value": "tor",
                  "description": "Tor System"
                },
                {
                  "value": "fake_crawler",
                  "description": "Fake Crawler"
                },
                {
                  "value": "web_scraper",
                  "description": "Web Scraper"
                },
                {
                  "value": "attack_source",
                  "description": "Attack Source identified: HTTP"
                },
                {
                  "value": "attack_source_http",
                  "description": "Attack Source identified: HTTP"
                },
                {
                  "value": "attack_source_mail",
                  "description": "Attack Source identified: Mail"
                },
                {
                  "value": "attack_source_ssh",
                  "description": "Attack Source identified: SSH"
                }
              ]
            },
            "nullable": true,
            "x-nullable": true,
            "readOnly": true,
            "description": "An object containing all threat types associated with the IP."
          }
        }
      },
      "ErrorDetails": {
        "type": "object",
        "description": "An object containing security-related data.",
        "properties": {
          "code": {
            "type": "integer",
            "nullable": false,
            "x-nullable": false,
            "readOnly": true,
            "description": "Error code"
          },
          "type": {
            "type": "string",
            "nullable": false,
            "x-nullable": false,
            "readOnly": true,
            "enum": [
              "404_not_found",
              "missing_access_key",
              "invalid_access_key",
              "inactive_user",
              "invalid_api_function",
              "usage_limit_reached",
              "function_access_restricted",
              "https_access_restricted",
              "invalid_fields",
              "too_many_ips",
              "batch_not_supported_on_plan"
            ],
            "x-ms-enum": {
              "name": "ErrorType",
              "modelAsString": true,
              "values": [
                {
                  "value": "404_not_found",
                  "description": "The requested resource does not exist."
                },
                {
                  "value": "missing_access_key",
                  "description": "No API Key was specified."
                },
                {
                  "value": "invalid_access_key",
                  "description": "No API Key was specified or an invalid API Key was specified."
                },
                {
                  "value": "inactive_user",
                  "description": "The current user account is not active. User will be prompted to get in touch with Customer Support."
                },
                {
                  "value": "invalid_api_function",
                  "description": "The requested API endpoint does not exist."
                },
                {
                  "value": "usage_limit_reached",
                  "description": "The maximum allowed amount of monthly API requests has been reached."
                },
                {
                  "value": "function_access_restricted",
                  "description": "The current subscription plan does not support this API endpoint."
                },
                {
                  "value": "https_access_restricted",
                  "description": "The user's current subscription plan does not support HTTPS Encryption."
                },
                {
                  "value": "invalid_fields",
                  "description": "One or more invalid fields were specified using the fields parameter."
                },
                {
                  "value": "too_many_ips",
                  "description": "Too many IPs have been specified for the Bulk Lookup Endpoint. (max. 50)"
                },
                {
                  "value": "batch_not_supported_on_plan",
                  "description": "The Bulk Lookup Endpoint is not supported on the current subscription plan"
                }
              ]
            },
            "description": "Error type. For example monthly_limit_reached."
          },
          "info": {
            "type": "string",
            "readOnly": true,
            "description": "Error description."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "An object containing security-related data.",
        "properties": {
          "success": {
            "type": "boolean",
            "nullable": false,
            "x-nullable": false,
            "readOnly": true,
            "description": "False whenever a requested resource is not available or an API call fails for another reason."
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetails"
          }
        }
      }
    }
  },
  "paths": {
    "/{ip_address}": {
      "get": {
        "operationId": "Lookup",
        "summary": "The ipstack's primary endpoint is called Standard Lookup and is used to look up single IPv4 or IPv6 addresses.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessKey",
            "description": "Your API Access Key."
          },
          {
            "name": "ip_address",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true,
            "description": "Any IPv4 or IPv6 address; you can also enter a domain URL to have ipstack resolve the domain to the underlying IP address."
          },
          {
            "name": "fields",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": false,
            "description": "Set to your preferred output field(s) according to the Specify Output Fields section. (https://ipstack.com/documentation#fields)."
          },
          {
            "name": "hostname",
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "required": false,
            "description": "Set to 1 to enable Hostname Lookup. (https://ipstack.com/documentation#hostname)."
          },
          {
            "name": "security",
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "required": false,
            "description": "Set to 1 to enable the Security module. (https://ipstack.com/documentation#security)."
          },
          {
            "name": "language",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": false,
            "description": "Set to a 2-letter language code according to the Specify Output Language section to change output language."
          },
          {
            "name": "callback",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": false,
            "description": "Specify a JSONP callback function name according to the JSONP Callbacks section."
          },
          {
            "name": "output",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": false,
            "description": "Set to json or xml to choose between output formats."
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpAddressDetails"
                }
              }
            }
          }
        },
        "tags": []
      }
    },
    "/{ip_addresses}": {
      "get": {
        "operationId": "BulkLookup",
        "summary": "The ipstack's endpoint to request data for multiple IPv4 or IPv6 addresses at the same time.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessKey",
            "description": "Your API Access Key."
          },
          {
            "name": "ip_addresses",
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "in": "path",
            "required": true,
            "description": "A comma-separated list of IPv4 or IPv6 addresses; you can also enter a domain URLs to have ipstack resolve the domains to their underlying IP addresses. (Maximum allowed values: 50)"
          },
          {
            "name": "fields",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": false,
            "description": "Set to your preferred output field(s) according to the Specify Output Fields section. (https://ipstack.com/documentation#fields)."
          },
          {
            "name": "hostname",
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "required": false,
            "description": "Set to 1 to enable Hostname Lookup. (https://ipstack.com/documentation#hostname)."
          },
          {
            "name": "security",
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "required": false,
            "description": "Set to 1 to enable the Security module. (https://ipstack.com/documentation#security)."
          },
          {
            "name": "language",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": false,
            "description": "Set to a 2-letter language code according to the Specify Output Language section to change output language."
          },
          {
            "name": "callback",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": false,
            "description": "Specify a JSONP callback function name according to the JSONP Callbacks section."
          },
          {
            "name": "output",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": false,
            "description": "Set to json or xml to choose between output formats."
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "The API response for bulk queries will contain one IP data object per requested IP address/domain.",
                  "items": {
                    "$ref": "#/components/schemas/IpAddressDetails"
                  }
                }
              }
            }
          }
        },
        "tags": []
      }
    }
  }
}
