<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="KeyVaultConfigSection" >
    <Parameter Name="KeyVaultUrl" Value="https://wx-dev3.vault.azure.net/" IsEncrypted="true" />
    <Parameter Name="KeyVaultClientId" Value="2fc813f0-66e7-48e7-9dfd-d393cef2cc19" IsEncrypted="true" />
    <Parameter Name="KeyVaultSecret" Value="gCI-pZ2747yXplCFSBO1o4t_hJ.vgK0C~Y" IsEncrypted="true" />
  </Section>
  <!--TODO remove: WRXB-9542 OR when after creating command facade and remove settings.octopus.xml-->
  <Section Name="AppConfigSection" >
    <Parameter Name="IpStackApiUrl" Value="https://api.ipstack.com" IsEncrypted="true" />
    <Parameter Name="OnfidoApiUrl" Value="https://api.eu.onfido.com/v3.2" IsEncrypted="true" />
    <Parameter Name="LexisNexisRdpHost" Value="https://staging.ws.idms.lexisnexis.com" IsEncrypted="true" />
    <Parameter Name="LexisNexisRdpProxy" Value="http://13.83.16.248:3128/" IsEncrypted="true" />
    <Parameter Name="LexisNexisMode" Value="testing" IsEncrypted="true" />
    <Parameter Name="LexisNexisBridgerServiceEndpoint" Value="https://bridgerstaging.lexisnexis.com/LN.WebServices/11.2/XGServices.svc/" IsEncrypted="true" />
    <Parameter Name="PassFortApiUrl" Value="https://api.passfort.com/4.0" IsEncrypted="true" />
    <Parameter Name="B2CRisksApiUrl" Value="http://localhost:17064" IsEncrypted="true" />
    <Parameter Name="B2CSurveyApiUrl" Value="http://localhost:17063" IsEncrypted="true" />
    <Parameter Name="SurveyApiUrl" Value="http://localhost:17062" IsEncrypted="true" />
    <Parameter Name="ida:AADInstance" Value="https://login.microsoftonline.com/{0}" IsEncrypted="true" />
    <Parameter Name="ida:ClientId" Value="9b6bc53a-593e-4842-98e5-146e02c31bb3" IsEncrypted="true" />
    <Parameter Name="ida:TenantId" Value="462364dc-9288-4225-aa48-d15f9acfa5e2" IsEncrypted="true" />
    <Parameter Name="ida:Audience" Value="https://wirexapp.com/wx-admin-dev-3" IsEncrypted="true" />
  </Section>
</Settings>
