<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="KeyVaultConfigSection" >
    <Parameter Name="KeyVaultUrl" Value="https://wx-dev3.vault.azure.net/" IsEncrypted="true" />
    <Parameter Name="KeyVaultClientId" Value="2fc813f0-66e7-48e7-9dfd-d393cef2cc19" IsEncrypted="true" />
    <Parameter Name="KeyVaultSecret" Value="gCI-pZ2747yXplCFSBO1o4t_hJ.vgK0C~Y" IsEncrypted="true" />
  </Section>
  <!--TODO remove: WRXB-9542 OR when after creating command facade-->
  <Section Name="AppConfigSection" >
    <Parameter Name="IpStackApiUrl" Value="https://api.ipstack.com" IsEncrypted="true" />
    <Parameter Name="OnfidoApiUrl" Value="https://api.eu.onfido.com/v3.2" IsEncrypted="true" />
    <Parameter Name="LexisNexisRdpHost" Value="https://staging.ws.idms.lexisnexis.com" IsEncrypted="true" />
    <Parameter Name="LexisNexisRdpProxy" Value="http://13.83.16.248:3128/" IsEncrypted="true" />
    <Parameter Name="LexisNexisMode" Value="testing" IsEncrypted="true" />
    <Parameter Name="LexisNexisBridgerServiceEndpoint" Value="https://bridgerstaging.lexisnexis.com/LN.WebServices/11.2/XGServices.svc/" IsEncrypted="true" />
    <Parameter Name="PassFortApiUrl" Value="https://api.passfort.com/4.0" IsEncrypted="true" />
    <Parameter Name="B2CRisksApiUrl" Value="http://localhost:17064" IsEncrypted="true" />
    <Parameter Name="B2CSurveyApiUrl" Value="http://localhost:17063" IsEncrypted="true" />
    <Parameter Name="SupportAgentEmail" Value="testreg@wirexapp.com" IsEncrypted="true" />
    <Parameter Name="VerificationAgentEmail" Value="yevheniia.opanasenko@wirexapp.com" IsEncrypted="true" />
    <Parameter Name="USAVerificationAgentEmail" Value="yevheniia.opanasenko@wirexapp.com" IsEncrypted="true" />
    <Parameter Name="ComplianceAgentEmail" Value="aml_alerts@wirexapp.com" IsEncrypted="true" />
    <Parameter Name="USAComplianceAgentEmail" Value="aml_alerts@wirexapp.com" IsEncrypted="true" />
    <Parameter Name="NoreplyEmail" Value="noreply@wirexapp.com" IsEncrypted="true" />
  </Section>
</Settings>
