<?xml version="1.0" encoding="utf-8" ?>
<Settings
        xmlns="http://schemas.microsoft.com/2011/01/fabric">
    <Section Name="KeyVaultConfigSection">
        <Parameter Name="KeyVaultUrl" Value="https://wx-dev3.vault.azure.net/" IsEncrypted="true"/>
        <Parameter Name="KeyVaultClientId" Value="2fc813f0-66e7-48e7-9dfd-d393cef2cc19" IsEncrypted="true"/>
        <Parameter Name="KeyVaultSecret" Value="gCI-pZ2747yXplCFSBO1o4t_hJ.vgK0C~Y" IsEncrypted="true"/>
    </Section>
    <!--TODO remove: WRXB-9542 OR when after creating command facade and remove settings.octopus.xml-->
    <Section Name="AppConfigSection">
		<Parameter Name="ExpiryTimeInMinutes" Value="30" IsEncrypted="true"/>
		<Parameter Name="OnfidoApiUrl" Value="https://api.eu.onfido.com/v3.2" IsEncrypted="true" />
		<Parameter Name="OnfidoReferrer" Value="https://*/profile/profile_verification" IsEncrypted="true" />
    </Section>
</Settings>
